# Debugging
DEBUG=True

# Security
SECRET_KEY=12345
SECURITY_PASSWORD_SALT=12345
SECURITY_REMEMBER_SALT=12345

# Database
SQLALCHEMY_DATABASE_URI=sqlite:///

# Session Management
SESSION_TYPE=filesystem
SESSION_PERMANENT=True
PERMANENT_SESSION_LIFETIME=86400

# Cookies
REMEMBER_COOKIE_SAMESITE=None
REMEMBER_COOKIE_SECURE=True
SESSION_COOKIE_SAMESITE=None
SESSION_COOKIE_SECURE=True
